<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Musician app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {{#if isUsers}}
                <li class="nav-item active"><a class="nav-link" href="/users">Users</a></li>
            {{else}}
                <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
            {{/if}}
            {{#if isAddUser}}
                <li class="nav-item active"><a class="nav-link" href="/users/create">Add user</a></li>
            {{else}}
                <li class="nav-item"><a class="nav-link" href="/users/create">Add user</a></li>
            {{/if}}
            {{#if isGroups}}
                <li class="nav-item active"><a class="nav-link" href="/groups">Groups</a></li>
            {{else}}
                <li class="nav-item"><a class="nav-link" href="/groups">Groups</a></li>
            {{/if}}
            {{#if isAddGroup}}
                <li class="nav-item active"><a class="nav-link" href="/groups/create">Add group</a></li>
            {{else}}
                <li class="nav-item"><a class="nav-link" href="/groups/create">Add group</a></li>
            {{/if}}
            <li class="nav-item "><a class="nav-link text-info" href="/docs" target="_blank">Documentation</a></li>
        </ul>
    </div>
</nav>
