<h1>Group creation</h1>
<form class="user-edit" action="/groups" method="post" >
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Group Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" type="text" class="validate">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
