<h1>Welcome!</h1>

<p><b>On this app using:</b> Node.js, Express.js, Handlebar.js, Bootstrap, MySQL, Seqielize.</p>
<p><b>Documentation:</b> Swagger API</p>
<p>This app demonstrate 2 CRUD operations and managing relationships between 2 schemas.</p>
<p>Created by <b>Viktor Shchekotikhin</b></p>
<hr>
<div class="important-info">
    <h2>Attention!</h2>
    <p>If during viewing the application you made changes to the data (deletion, creation of new entities), please return the application to its original state before closing.</p>
</div>

